@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.card::before {
  @apply absolute -left-1 top-0 content-[''] w-6 h-6 bg-purple-500 rounded-full border-8 border-zinc-900 -translate-x-2 opacity-0;
  transform: translateY(100px);
}

@layer utilities {
  .clip-path {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
}
